// sass-lint:disable no-important

/**
 * Headings
 *
 * Redefine all of our basic heading styles against utility classes so as to
 * allow for double stranded heading hierarchy, e.g. we semantically need an H2,
 * but we want it to be sized like an H1:
 *
 *   <h2 class="h1"></h2>
 *
 */

.h1 {
	font-size: $h1-font-size;
}

.h2 {
	font-size: $h2-font-size;
}

.h3 {
	font-size: $h3-font-size;
}

.h4 {
	font-size: $h4-font-size;
}

.h5 {
	font-size: $h5-font-size;
}

.h6 {
	font-size: $h6-font-size;
}

/**
 * Text Utilitites
 */

/**
 * Text Colors
 */
.text-mute {
	color: $text-mute-color !important;
}

.text-danger {
	color: $color-danger !important;
}

.text-success {
	color: #45B854 !important;
}

.text-dark {
	color: $text-color;
}

.text-white {
	color: $white;
}

/**
  * Text Sizes
  */
.text-tiny {
	font-size: $text-tiny-font-size !important;
}

.text-xsmall {
	font-size: $text-small-font-size !important;
}

.text-small {
	font-size: $text-font-size !important;
}

.text-large {
	font-size: $h6-font-size !important;
}

// This class is used for 404 text only, we just couldn't find a better way
// for implementing it
.text-big {
	font-size: $h1-font-size * 1.5;
	font-weight: $font-weight-bold;
	line-height: 48px;
}


/**
  * Font Weights
  */
.text-bold {
	font-weight: $font-weight-bold !important;
}

/**
  * Aligning Text
  */
.text-right {
	text-align: right !important;
}

.text-left {
	text-align: left !important;
}

.text-center {
	text-align: center !important;
}

/**
 * Transforming Text
 */
.text-uppercase {
	text-transform: uppercase !important;
}

.text-lowercase {
	text-transform: lowercase !important;
}

.text-capitalize {
	text-transform: capitalize !important;
}
