// sass-lint:disable no-important

.block {
	display: block !important;
}

.inline-block {
	display: inline-block !important;
}

.inline {
	display: inline !important;
}

.wrap {
	white-space: initial !important;
}

.nowrap {
	white-space: nowrap !important;
}
