// sass-lint:disable no-important

/**
 * Use opacity utilities to specify the level of transparency of an element
 */

.opacity-heavy {
	opacity: 0.75 !important;
}

.opacity-medium {
	opacity: 0.5 !important;
}

.opacity-light {
	opacity: 0.25 !important;
}

.opacity-zero {
	opacity: 0;
}
