///* ========================================================================
//   #FOOTER
//   ======================================================================== */

//
// 1. Customize it to suit your brand's dimensions
//
$footer-height: 70px !default;

$footer-padding: 30px !default;
$footer-color: $white !default;
$footer-background-color: #222C3C !default;
