// sass-lint:disable no-important

/**
 * Spacing utilities are used to provide spacing between components using
 * margins or inside the components using paddings. Different sizes allow you
 * to easily construct consistent layouts of components.
 */

$spacers: (
	zero:   0,
	auto: auto,
	xsmall: $spacer-xsmall,
	small:  $spacer-small,
	medium: $spacer,
	large:  $spacer-large,
	xlarge: $spacer-xlarge
);

/**
 * Margins
 *
 * m  -> all sides
 * mt -> margin-top
 * mr -> margin-right
 * mb -> margin-bottom
 * ml -> margin-left
 * mv -> margin-top & margin-bottom (vertically)
 * mh -> margin-right & margin-left (horizontaly)
 *
 */

@each $property, $value in $spacers {
	.m-#{$property} {
		margin: $value !important;
	}

	.mt-#{$property} {
		margin-top: $value !important;
	}

	.mr-#{$property} {
		margin-right: $value !important;
	}

	.mb-#{$property} {
		margin-bottom: $value !important;
	}

	.ml-#{$property} {
		margin-left: $value !important;
	}

	.mv-#{$property} {
		margin-top: $value !important;
		margin-bottom: $value !important;
	}

	.mh-#{$property} {
		margin-right: $value !important;
		margin-left: $value !important;
	}
}


/**
 * Paddings
 *
 * p  -> all sides
 * pt -> padding-top
 * pr -> padding-right
 * pb -> padding-bottom
 * pl -> padding-left
 * pv -> padding-top & padding-bottom (vertically)
 * ph -> padding-right & padding-left (horizontaly)
 *
 */

@each $property, $value in $spacers {
	.p-#{$property} {
		padding: $value !important;
	}

	.pt-#{$property} {
		padding-top: $value !important;
	}

	.pr-#{$property} {
		padding-right: $value !important;
	}

	.pb-#{$property} {
		padding-bottom: $value !important;
	}

	.pl-#{$property} {
		padding-left: $value !important;
	}

	.pv-#{$property} {
		padding-top: $value !important;
		padding-bottom: $value !important;
	}

	.ph-#{$property} {
		padding-right: $value !important;
		padding-left: $value !important;
	}
}
