/**
 * Overflow
 */

.overflow-auto {
	overflow: auto;
}

.overflow-scroll {
	overflow: scroll;
}


/**
 * Horizontal Overflow
 */

.overflow-x-auto {
	overflow: auto;
}

.overflow-x-scroll {
	overflow: scroll;
}


/**
 * Vericall Overflow
 */

.overflow-y-auto {
	overflow: auto;
}

.overflow-y-scroll {
	overflow: scroll;
}
